/* Define Variables */
:root {
    --text-color: #1F1F1F;
    --accent-color-bg: #F28F3B;
    --accent-color-text: #BF4D36;
    --link-color: #588B8B;
    --nav-text-color: #f1e1d9;
    --nav-active-text-color: #FFF;
}

/* Reset browser defaults */
* {
    margin: 0;
    padding: 0;
    font-family: 'Noto Serif', serif;
    color: var(--text-color);
    font-size: 18px;
}

/* Only showing Alpine js components after they are loaded */
[x-cloak] { display: none !important; }

main {
    box-sizing: border-box;
    width: 100%;
}
div.sidebar {
    width: 280px;
    box-sizing: border-box;
    padding: 20px;
    background-color: var(--accent-color-bg);
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 1100;
}

section {
    box-sizing: border-box;
    padding: 15px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Noto Sans', sans-serif;
    color: var(--accent-color-text);
    margin-bottom: 10px;
    font-weight: 300;
}
h1 { font-size: 38px; }

h2 { font-size: 32px; }

nav { margin-top: 25px; }

a.nav-link { color: var(--nav-text-color); }

a.nav-link {
    display: block;
    padding: 10px;
    font-size: 20px;
    text-decoration: none;
}

a.nav-link.active, .sidebar h1 { color: var(--nav-active-text-color); }

a.nav-link:hover { text-decoration: underline var(--nav-text-color); }

article { margin: 15px 0; }

article p { margin-bottom: 10px; }

hr {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
    margin: 25px 0;
    box-sizing: border-box;
}

a { color: var(--link-color); }

.leaflet-control-attribution a { font-size: 11px; }

#map { 
    height: 500px; 
    flex-grow: 1;
}

ul { padding-left: 20px; }

strong {
    color: var(--accent-color-text);
    font-family: 'Noto Sans', sans-serif;
}
footer {
    margin: 0;
    padding: 10px 10px 20px 10px;
    border-top: solid 1px var(--text-color);
}

.map-container {
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
}

.active { display: block; }

.info {
    font-weight: lighter;
    font-style: italic;
}


/* Responsive desing */

/* Big screens (Full screen PC & Laptop window, TV etc. */
@media screen and (min-width: 1200px) {
    #map {
        min-width: 50%;
        max-width: 70%;
    }
    .tabs {
        min-width: 410px;
        max-width: 30%;
    }
}

/* Medium Screen */
@media screen and (max-width: 1199px) {
    .map-container { flex-direction: column; }
    #map, .tabs { width: 100% }
}

@media screen and (min-width: 800px) {
    section {
        max-width: 100%;
        margin-left: 280px;
    }
}

/* Don't show the sidebar on small screens */
@media screen and (max-width: 799px) {
    .sidebar {display: none;}
}